<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keyeswest.trackme">


    <application>

        <receiver
            android:name=".receivers.LocationUpdatesBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.keyeswest.trackme.locationupdatespendingintent.action.PROCESS_UPDATES" />

            </intent-filter>
        </receiver>

        <service android:name=".services.LocationService"
            android:exported="false" />

    </application>

</manifest>