<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keyeswest.trackme">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".TrackMe"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TripMapActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".TripListActivity" />
        <activity android:name=".NewTripActivity" android:launchMode="singleTop" />
        <activity android:name=".SortActivity" />
        <activity android:name=".PermissionActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAqMU0ZbhvtFuK9SeMCJAC2zmr2V9n1Ges" />

        <provider
            android:name=".data.TracksContentProvider"
            android:authorities="com.keyeswest.trackme"
            android:exported="true" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.keyeswest.trackme.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>


        <service
            android:name=".services.LocationProcessorService"
            android:exported="false" />

        <activity android:name=".FilterActivity"></activity>
    </application>

</manifest>